In [1]:
import kelp_analyze as ka

In [2]:
import os
import sqlite3

In [3]:
base_dir = os.path.join(
    os.environ['SCRATCH'],
    'kelp-results'
)

In [4]:
def view_results(study_name):
    study_dir = os.path.join(
        base_dir,
        study_name
    )
    db_path = os.path.join(
        study_dir,
        '{}.db'.format(study_name)
    )
    conn = sqlite3.Connection(db_path)
    
    return ka.table_to_df(conn, study_name)

In [5]:
print('\n'.join(["'{}'".format(path) for path in os.listdir(base_dir)]))

'verify_asym_64x64x10_scat_0_1_2_b_m3_3'
'verify_asym_64x64x12_scat_0_1_2_b_m3_3'
'verify_ss_noscat_nofd_32x8'
'verify_ss_noscat_fd_32x8'
'verify_asym_uni_a_expb_L_100x100x20_scat_0_1_2_b_m3_3'
'verify_asym_uni_a_expb_L_10x100x20_scat_0_1_2_b_m3_3'
'verify_asym_prod_a_tanhb_L_10x100x20_scat_0_1_2_b_m3_3'
'verify_asym_uni_a_expb_L_40x80x30_scat_0_1_2_b_m3_3'

In [6]:
import kelp_compute as kc

/home/jovyan/scratch/kelp/code/python/kelp_compute.py:31: UserWarning: matplotlib.pyplot as already been imported, this call will have no effect.
  matplotlib.use('Agg')

In [7]:
import run_utils as ru

In [12]:
#study_name = 'verify_asym_uni_a_expb_L_40x80x30_scat_0_1_2_b_m3_3'
study_name = 'verify_kelp_bad_abspt_asym_b_scat_ss_sm_th_a05_100x8'

In [13]:
study_dir = os.path.join(
    base_dir,
    study_name
)

In [ ]:
ru.combine_dbs(study_dir, study_name)

In [15]:
df = view_results(study_name)

In [29]:
df[['b','num_scatters','fd_flag']].loc[df['ns']==10,:]

             b  num_scatters  fd_flag
0     0.316228             1        0
1     0.316228             0        0
2     0.359381             2        0
3     0.316228             3        0
4     0.316228             2        0
5     0.359381             0        0
6     0.359381             1        0
7     0.408424             0        0
8     0.359381             3        0
9     0.408424             1        0
10    0.408424             2        0
11    0.408424             3        0
12    0.464159             0        0
13    0.527500             1        0
16    0.527500             0        0
17    0.464159             1        0
18    0.464159             3        0
19    0.464159             2        0
20    0.527500             2        0
21    0.599484             0        0
22    0.599484             1        0
23    0.599484             2        0
24    0.527500             3        0
25    0.599484             3        0
26    0.681292             1        0
27    0.681292             3        0
28    0.774264             0        0
29    0.681292             2        0
30    0.774264             2        0
31    0.774264             1        0
...        ...           ...      ...
1002  0.599484             1        0
1003  0.599484             2        0
1004  0.527500             3        0
1005  0.599484             3        0
1006  0.681292             1        0
1007  0.681292             3        0
1008  0.774264             0        0
1009  0.681292             2        0
1010  0.774264             2        0
1011  0.774264             1        0
1012  0.681292             0        0
1013  0.879923             0        0
1015  0.774264             3        0
1016  0.879923             1        0
1017  0.879923             2        0
1018  0.879923             3        0
1019  1.000000             1        0
1020  1.000000             0        0
1022  1.000000             2        0
1024  1.000000             3        0
1420  0.316228             0        1
1421  0.359381             0        1
1422  0.408424             0        1
1423  0.464159             0        1
1424  0.527500             0        1
1425  0.599484             0        1
1426  0.681292             0        1
1427  0.774264             0        1
1428  0.879923             0        1
1429  1.000000             0        1

[140 rows x 3 columns]

In [16]:
import pandas as pd

In [17]:
df[['b','num_scatters']].sort_values(['b','num_scatters'])

             b  num_scatters
1     0.316228             0
43    0.316228             0
80    0.316228             0
123   0.316228             0
149   0.316228             0
199   0.316228             0
245   0.316228             0
280   0.316228             0
320   0.316228             0
357   0.316228             0
402   0.316228             0
441   0.316228             0
483   0.316228             0
520   0.316228             0
563   0.316228             0
589   0.316228             0
639   0.316228             0
685   0.316228             0
720   0.316228             0
760   0.316228             0
797   0.316228             0
842   0.316228             0
880   0.316228             0
890   0.316228             0
900   0.316228             0
910   0.316228             0
920   0.316228             0
930   0.316228             0
940   0.316228             0
950   0.316228             0
...        ...           ...
136   1.000000             3
201   1.000000             3
244   1.000000             3
278   1.000000             3
318   1.000000             3
358   1.000000             3
401   1.000000             3
438   1.000000             3
484   1.000000             3
490   1.000000             3
561   1.000000             3
576   1.000000             3
641   1.000000             3
684   1.000000             3
718   1.000000             3
758   1.000000             3
798   1.000000             3
841   1.000000             3
878   1.000000             3
1024  1.000000             3
1030  1.000000             3
1101  1.000000             3
1116  1.000000             3
1181  1.000000             3
1224  1.000000             3
1258  1.000000             3
1298  1.000000             3
1338  1.000000             3
1381  1.000000             3
1418  1.000000             3

[1520 rows x 2 columns]